/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------- HEADER ---------------------*/
.logo {
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo img {
    width: 100px;  /*Ancho del logo*/
    height: auto; /*Proporcion*/
}

/* Favoritos y carrito */
.favoritos {
    display: flex;
    align-items: center;
}

.favoritos img {
    width: 25px;  /*Ancho del logo*/
    height: 25px; /*alto del logo*/
}

nav {
    background-color: #add8e6; /*Fondo solapas*/
    height: 40px; /*Alto del fondo celeste los puntos*/
}

.menu {
    padding: 9px;
    list-style: none; /*Saco los puntos*/
    display: flex;
    justify-content: space-around;
}

.menu li a {
    text-decoration: none; /*Saco la linea subrayada*/
    color: black;
    font-size: 20px;
}

p {
    padding-top: 10px;
}

/*--------------------- FUENTES ---------------------*/

h1 { /*Titulos grandes*/
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h2 { /*Subtitulos en Blanco*/
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

h3 { /*Subtitulos en Negro*/
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h4 { /*Subtitulo mas chico*/
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

/*--------------------- FOOTER ---------------------*/
footer {
    padding-top: 15px;
    background-color: #add8e6; /*Fondo pie de pagina*/
    height: 50px; /*Alto del fondo*/
    display: flex;
    justify-content: space-evenly;
}

footer img {
    width: 20px; /* Tamaño de los logos */
    height: auto; /*Proporcion*/
}

/*-------------- IMAGENES DE FONDO --------------*/
/*Agrupo porque se repiten*/
.ambiente, .auto, .textiles, /*INICIO*/
.citricos, .clasicos, /*FRAGANCIAS*/
.nosotros, .elaboracion, .historia /*TIENDA*/{ 
    padding: 10px;
    text-align: center;
    height: 70vh; /*Alto de la seccion*/
    background-size: cover; /*Cubro todo el area*/
    background-repeat: no-repeat; /*No se repite la imagen*/
    background-position: center; /*centro la imagen*/
}

/*--------------------- INICIO ---------------------*/
.ambiente {
    background-image: url(../img/ambiente.jpg);
    background-attachment: fixed;
    color: white;
    padding-top: 165px;
}

.auto {
    background-image: url(../img/auto.jpeg);
    background-attachment: fixed;
    color: white;
    padding-top: 165px;
}

.textiles {
    background-image: url(../img/textiles.jpg);
    background-attachment: fixed;
    color: white;
    padding-top: 165px;
}

/*--------------------- FRAGANCIAS ---------------------*/
.titulo-solapa {
    padding-top: 22px;
    background-color: #6bb2ca;
    height: 100px; /*Alto del fondo titulo*/
    text-align: center;
}

.citricos {
    background-image: url(../img/citricos.jpg);
    background-attachment: fixed;
    color: white;
}

.clasicos {
    background-image: url(../img/textiles.jpg);
    background-attachment: fixed;
    color: white;
}

.lista-productos {
    padding-top: 10px;
    font-size: 20px;
}

/*--------------------- NOSOTROS ---------------------*/
.nosotros {
  background-image: url(../img/equipo.jpg);
  background-attachment: fixed;
  color: black;
}

.elaboracion {
  background-image: url(../img/elaboracion.jpg);
  background-attachment: fixed;
  color: black;
}

.historia {
  background-image: url(../img/historia.jpg);
}

/*--------------------- TIENDA ---------------------*/
.tienda {
    display: flex;
}

.filtros {
    width: 25%; /*Uso el 25 de la pagina*/
    padding: 30px;
}

.filtros ul li {
    list-style: none; /*Saco los puntos*/
}

.productos {
    text-align: center;
    padding: 20px;
}

.foto-producto {
    width: 200px;
    height: auto;
}

.descripcion-producto {
    margin-top: 15px;
}

.boton-comprar {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
}

/*--------------------- CONTACTO ---------------------*/
.contactos {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.columnas {
    width: 48%;
    text-align: center;
    
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}

.informacion {
    background-color: #c1e4ec65;
    padding: 15px;
}

.informacion h4 {
    padding: 15px;
}

.informacion p {
    padding-top: 0;
    font-style: italic;
}